<footer>
	<div class="footer-content">
		<div class="row">
			<div class="two columns">four</div>
			<div class="two columns">four</div>
			<div class="two columns">four</div>
			<div class="two columns">four</div>
			<div class="two columns">four</div>
			<div class="two columns">four</div>
		</div>
	</div>
</footer>