<header>
<div class="header-content">
	<h1 class="site_logo">
		UC Davis Static template
	</h1>
	<nav>
		<ul id="cbp-tm-menu" class="cbp-tm-menu">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Veggie made</a>
					<ul class="cbp-tm-submenu">
						<li><a href="#">Sorrel desert</a></li>
						<li><a href="#">Raisin kakadu</a></li>
						<li><a href="#">Plum salsify</a></li>
						<li><a href="#">Bok choy celtuce</a></li>
						<li><a href="#">Onion endive</a></li>
						<li><a href="#">Bitterleaf</a></li>
						<li><a href="#">Sea lettuce</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Pepper tatsoi</a>
					<ul class="cbp-tm-submenu">
						<li><a href="#">Brussels sprout</a></li>
						<li><a href="#">Kakadu lemon</a></li>
						<li><a href="#">Juice green</a></li>
						<li><a href="#">Wine fruit</a></li>
						<li><a href="#">Garlic mint</a></li>
						<li><a href="#">Zucchini garnish</a></li>
						<li><a href="#">Sea lettuce</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Sweet melon</a>
					<ul class="cbp-tm-submenu">
						<li><a href="#">Sorrel desert</a></li>
						<li><a href="#">Raisin kakadu</a></li>
						<li><a href="#">Plum salsify</a></li>
						<li><a href="#">Bok choy celtuce</a></li>
						<li><a href="#">Onion endive</a></li>
						<li><a href="#">Bitterleaf</a></li>
					</ul>
				</li>
			</ul>
	</nav>
</div>
</header>